body {
  
  margin: 0 auto;
  text-align: center;
  background-color: #1b1b23;

}


.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 80vh;
}